<div>
    <a data-rt-routedlink="summary" data-ng-click="loadView('summary')">Summary</a><!--
    --><a  data-ng-click="loadView('materials')">Items</a><!--
    --><a  data-ng-show="showMeters()" data-ng-click="loadView('meters')">Meters</a><!--
    --><a  data-ng-click="loadView('problemsandrepairs')">P/R</a><!--
    --><a  data-ng-click="loadView('miscellaneous')">Misc</a><!--
    --><a  data-ng-click="loadView('labors')">Labor</a><!--
    --><a  data-ng-show="showNotes()" data-ng-click="loadView('notes')">Notes</a><!--
    --><a  data-ng-show="showExchange()" data-ng-click="loadView('exchanges')">Exchange Equipment</a><!--
    --><a  data-ng-show="showHistory()" data-ng-click="loadView('history')">Call History</a>
</div>