@{
    ViewBag.Title = "a Awesome page";
}
@section headSection
{

    <script src="~/angular-app/House/houseController.js"></script>
    <script src="~/angular-app/Controllers/propertyController.js"></script>
    <script src="~/angular-app/Controllers/homepageCtrl.js"></script>
    <script src="~/angular-app/Services/dataService.js"></script>
@*    <script src="~/Scripts/HelpDesk/helpdesk-controller.js"></script>
    <script src="~/Scripts/Tickets/tickets-controller.js"></script>
    <script src="~/Scripts/Tickets/customer-controller.js"></script>
    <script src="~/Scripts/Tickets/call-controller.js"></script>
    <script src="~/Scripts/Tickets/equipment-controller.js"></script>
    <script src="~/Scripts/Tickets/labor-controller.js"></script>
    <script src="~/Scripts/Tickets/notes-controller.js"></script>
    <script src="~/Scripts/Tickets/codes-controller.js"></script>
    <script src="~/Scripts/Tickets/attachments-controller.js"></script>
    <script src="~/Scripts/Tickets/ticket-details.js"></script>
    <script src="~/Scripts/Tickets/ticket-services.js"></script>
    <script src="~/Scripts/HelpDesk/helpdesk-services.js"></script>*@
}
<div id="tabsLayout" data-ng-controller="homePageCtrl">
    <table id="property-table" class="pListControl alternaterowcolors">
        <tr class="HeaderRow">
            <th class="pLabel" style="width: 84px;">Name</th>
            <th class="pLabel" style="width: 80px;">Address</th>
            <th class="pLabel" style="width: 80px;">City</th>
            <th class="pLabel" style="width: 50px;">State</th>
            <th class="pLabel" style="width: 50px;">Zip</th>

        </tr>
        <tr data-ng-repeat="property in properties track by $index">
            <td class="pText"> <a data-ng-click="navigateToProperty(property.ID)">{{property.Name}}</a></td>
            <td class="pText">{{property.Address}}</td>
            <td class="pText" ">{{property.City}}</td>
            <td class="pText">{{property.State}}</td>
            <td class="pText">{{property.Zip}}</td>
        </tr>
    </table>

</div>

