@{
    ViewBag.Title = "a Awesome page";
}
@section headSection
{

    <script src="~/angular-app/House/houseController.js"></script>
    <script src="~/angular-app/Controllers/propertyController.js"></script>
    <script src="~/angular-app/Controllers/homepageCtrl.js"></script>
@*    <script src="~/Scripts/HelpDesk/helpdesk-controller.js"></script>
    <script src="~/Scripts/Tickets/tickets-controller.js"></script>
    <script src="~/Scripts/Tickets/customer-controller.js"></script>
    <script src="~/Scripts/Tickets/call-controller.js"></script>
    <script src="~/Scripts/Tickets/equipment-controller.js"></script>
    <script src="~/Scripts/Tickets/labor-controller.js"></script>
    <script src="~/Scripts/Tickets/notes-controller.js"></script>
    <script src="~/Scripts/Tickets/codes-controller.js"></script>
    <script src="~/Scripts/Tickets/attachments-controller.js"></script>
    <script src="~/Scripts/Tickets/ticket-details.js"></script>
    <script src="~/Scripts/Tickets/ticket-services.js"></script>
    <script src="~/Scripts/HelpDesk/helpdesk-services.js"></script>*@
}
<div data-ng-controller="homePageCtrl">
    <div id="searchFilterDiv">
            <label>

            </label>
            <div>
                <label>City:</label>
                <input type ="text" />
            </div>
            <div>
                <label>State:</label>
                <input type ="text" />
            </div>
            <div>
                <label>Zip:</label>
                <input type ="text" />
            </div>
    </div>

    <div>

    </div>

</div>

